.app {
	width:400px;
	margin:0 auto;
	padding:0;
}
.apptitle {
	padding:12px 5px;
	text-align:center;
}
.list {
	padding:0;
}

.searchApp {
	text-align:center;
	padding:5px;
}
.searchApp > div {
	padding:10px;
}
input {
	display:inline-block;
	width:100%;
	padding: 5px 12px;
	line-height:20px;
	font-size:14px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}